<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template de Ansible</title>
</head>
<body>
    <h1>Usuario: {{ansible_user_id}}</h1>
    <h1>Arquitectura: {{ansible_architecture}}</h1>
    <h1>Procesadores {{ansible_processor}}</h1>
    <h1>Variable en el playbook: {{mi_var}}</h1>
    <h3>Lista: {{lista}}</h3>
    <h3>Paquetes: {{paquetes}}</h3>
</body>
</html>